/**
 * @author: Arie M. Prasetyo (2020)
 */

.Details {
  padding: 0;
}

.Details > .item > h2,
.Details > .item > h3,
.Details > .item > h4,
.Details > .item > p {
  margin: 4px 0;
}

/* mobile layout */

@media (max-width: 800px) {
  .Details {
    padding: 0;
  }
}