/**
 * @author: Arie M. Prasetyo (2020)
 */

.Details {
  padding: 0;
}

.Details > .item {
  display: flex;
  justify-content: space-evenly;
}

.Details > .item > .info {
  flex: 1; 
}

.Details > .item > .info > h1 {
  color: rgba(2, 72, 11, 1);
}

.Details > .item > .info > h2,
.Details > .item > .info > h3,
.Details > .item > .info > p {
  margin: 4px 0;
}

.Details > .item > .info > p > a {
  color: rgba(242, 94, 94, 1);
  text-decoration: none;
}

.Details > .item > .imageContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1; 
  margin-top: 20px;
}

.Details > .item > .imageContainer > img {
  width: 50%;
  flex: 1;
}

.Details > .chart {
  padding: 20px 0;
  text-align: center;
}

.Details > .chart > h3 {
  margin: 0;
}

/* mobile layout */

@media (max-width: 800px) {
  .Details {
    padding: 0;
  }
}