/**
 * @author: Arie M. Prasetyo (2020)
 */

.Links {
  padding: 0;
}

.Links > .linkContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Links > .linkContainer > .linkItem {
  box-sizing: border-box;
  flex-basis: 33%;
  margin: 0;
  padding: 8px 12px 16px 0;
}

.Links > h1 {
  text-decoration: underline;
}

.Links > .linkContainer > .linkItem > h2,
.Links > .linkContainer > .linkItem > h3,
.Links > .linkContainer > .linkItem > h4,
.Links > .linkContainer > .linkItem > p {
  margin: 4px 0;
}

/* mobile layout */

@media (max-width: 800px) {
  .Links {
    padding: 0;
  }
}